/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Alerts */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  height: 10vh;
  top: 0;
  border-bottom: solid 1px var(--dark-color);
  opacity: 0.9;
  position: static;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--dark-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* Landing */
.landing,
.signup,
.login {
  display: flex;
}

.left-landing,
.left-signup,
.right-login {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-landing {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-landing img {
  height: 500px;
  width: 400px;
  padding: 10px;
}

/* Signup */
.left-signup {
  position: relative;
  background: url('./img/signup.jpg') no-repeat center center/cover;
  height: 90vh;
}

.right-signup,
.left-login {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-signup h1 {
  color: var(--primary-color);
}

/* Login */
.left-login h1 {
  color: var(--primary-color);
}

.right-login {
  position: relative;
  background: url('./img/login.jpg') no-repeat center center/cover;
  height: 90vh;
}

/* Forms */
.form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0;
}

label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='tel'],
.form select,
.form textarea {
  width: 70%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

.form input[type='submit'],
button {
  font: inherit;
  width: 150px;
  height: 40px;
  border: 0;
  outline: none;
  border-radius: 0.2rem;
  background-color: var(--success-color);
  color: white;
  transition: all 0.8s;
  margin: 1rem 0;
}

.form input[type='submit']:hover {
  background-color: var(--light-color);
  color: var(--success-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Responsive */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    border-bottom: solid 1px var(--dark-color);
    padding-bottom: 5px;
    height: auto;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  /* Landing */
  .landing {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .left-landing {
    width: 100%;
    height: 85vh;
  }

  .right-landing,
  .right-signup,
  .left-login {
    width: 100vw;
  }

  .right-signup h1,
  .left-login h1 {
    padding: 4rem 0;
  }

  /* Forms */
  .form .form-group {
    margin: 1.2rem 2rem;
  }
}
